<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="css/enguiastyles.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta property="og:url" content="https://enguia.eco.br" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Enguia" />
  <meta property="og:description" content="Consultoria Eletrônica em Eficiência Energética" />
  <meta property="og:image" content="" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105762775-1"></script>
  <script type="text/javascript" src="https://apis.google.com/js/api:client.js"></script>
  <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <title>Enguia</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but test doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>