<template>
  <div class="hero is-fullheight has-bg-img">
    <div class="hero-head is-medium toposignup">
      <div class="container">
        <div class="topo">
          <enguianav></enguianav>
        </div>
      </div>
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-3 is-6 is-hidden-mobile">
            <h4
              class="is-size-4 subtitle has-text-weight-bold is-primary"
            >Parabéns, {{Usuario.nome}}!</h4>
            <h6
              class="is-size-6 has-text-white"
            >Você já pode gerar o seu Plano Personalizado de Redução de Consumo. Se preferir, edite suas informações para que possamos realizar o diagnóstico energético de seu imóvel com ainda mais precisão!</h6>

            <br>
            <div class="field is-grouped is-grouped-centered">
              <p class="control">
                <button
                  @click="planos()"
                  class="button is-rounded is-primary has-text-weight-bold is-5 botaocadastrar"
                >
                  <span>Gerar Plano</span>
                </button>
              </p>
            </div>
            <br>
            <h4 class="is-size-4 subtitle has-text-weight-bold is-primary">Diagnósticos</h4>
          </div>
          <div class="is-hidden-tablet">
            <h4
              class="is-size-4 subtitle has-text-weight-bold is-primary"
            >Parabéns, {{Usuario.nome}}!</h4>
            <h6
              class="is-size-6 has-text-white is-hidden-mobile"
            >Você já pode gerar o seu Plano Personalizado de Redução de Consumo. Se preferir, edite suas informações para que possamos realizar o diagnóstico energético de seu imóvel com ainda mais precisão!</h6>
            <h6
              class="is-size-6 has-text-white is-hidden-tablet"
            >Você já pode gerar o seu Plano Personalizado de Redução de Consumo. Se preferir, edite suas informações para que possamos realizar o diagnóstico energético de seu imóvel com ainda mais precisão!</h6>
            <br>
            <div class="field is-grouped is-grouped-centered">
              <p class="control">
                <button
                  @click="planos()"
                  class="button is-rounded is-primary has-text-weight-bold is-5 botaocadastrar"
                >
                  <span>Gerar Planos</span>
                </button>
              </p>
            </div>
            <br>
            <h4 class="is-size-4 subtitle has-text-weight-bold is-primary">Diagnósticos</h4>
          </div>
        </div>
        <div class="canvas-container">
          <!-- <div class="column is-offset-3 is-2">
            <h5 class="is-size-5 has-text-left has-text-white has-text-weight-bold">Comparativo de consumo por cômodos
            </h5>
            <doughtnut :mychartdata="chartDataComodo"></doughtnut>
          </div>
          <br class="is-hidden-tablet" /><br class="is-hidden-tablet" />
          <div class="column is-offset-1 is-2">
            <h5 class="is-size-5 has-text-left has-text-white has-text-weight-bold">Comparativo de consumo por equipamentos
            </h5>
            <doughtnut2 :mychartdata="chartDataEquipamentos"></doughtnut2>
          </div>-->
          <piechart
            v-if="chartDataEquipamentos.length"
            class="canvas"
            v-bind:data="chartDataEquipamentos"
            charttitle="Equipamentos"
            canvasId="equipamentoschart"
          ></piechart>
          <piechart
            v-if="chartDataComodo.length"
            class="canvas"
            v-bind:data="chartDataComodo"
            charttitle="Comodos"
            canvasId="comodoschart"
          ></piechart>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
</template>

<style scoped>
.div-button {
  cursor: pointer;
}

.has-bg-img {
  background-color: #0d1d3e;
  background-image: url("../assets/bg-page-desktop.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40% 100%;
}

.toposignup {
  background-color: #273c5e;
}

.full-size {
  min-height: 100%;
}

.borderfooter {
  border-top: 1px solid #273c5e;
}

.topo {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.rodape {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.inputsignup {
  background-color: transparent !important;
  border-bottom: #ededed 1px solid !important;
  color: #fff;
}

.inputsignup:active {
  /* border-color: none !important; */
  border-bottom: #a4d400 1px solid !important;
  color: #fff;
}

.inputsignup:hover {
  /* border-color: none !important; */
  border-bottom: #a4d400 1px solid !important;
}

.inputsignup:focus {
  /* border-color: none !important; */
  border-bottom: #a4d400 1px solid !important;
  color: #fff;
}

::-webkit-input-placeholder {
  /* Chrome */
  color: #fff !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #fff !important;
  opacity: 1;
}

.botaocadastrar {
  background-color: #a4d400 !important;
  border: 1px solid #a4d400 !important;
}

.botaocadastrar:hover {
  background-color: #a4d400;
  border: 1px solid #a4d400 !important;
}

.nomesignup {
  width: 30% !important;
}

.cpfsignup {
  width: 15% !important;
}

.container {
  /*padding-left:15%;
                  padding-right:15%;*/
}

.hero-body {
  align-items: flex-start !important;
}

.subtitle {
  margin-top: 1rem;
  margin-bottom: 2rem !important;
}

/* steps */

.steps-marker {
  height: 3.5rem !important;
  width: 3.5rem !important;
}

.steps-marker.is-hollow {
  border: 0.1em solid #a4d400 !important;
}

.steps-marker.is-hollowinactive {
  border: 0.1em solid #273c5e !important;
  color: #19c7f3 !important;
}

.steps-marker:not(.is-hollow) {
  background-color: #a4d400 !important;
}

.step-title {
  padding-top: 0.5rem;
  color: #a4d400 !important;
}

.step-content {
  color: #fff;
  margin-top: 6vh;
  margin-left: 2.5vh;
}

.steps-segment:after {
  height: 0.1em !important;
  top: calc(1.9rem - (0.2em)) !important;
  left: 1.76rem !important;
  background-color: #273c5e !important;
  left: 70% !important;
  right: -42% !important;
}

.steps-segment.is-hollow {
  background-color: #273c5e !important;
}

.steps-segment.is-active:after {
  background-color: #a4d400 !important;
}

.checkbox {
  color: white;
}

.checkbox a {
  color: #a4d400;
}

.steponly {
  height: 3.5rem !important;
  width: 3.5rem !important;
  border: 0.1em solid #a4d400 !important;
  border-radius: 50%;
  align-items: center !important;
  display: flex !important;
  font-weight: 700;
  -webkit-box-pack: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.hollow {
  text-align: center !important;
}

.subtitle {
  color: #a4d400 !important;
}

.box {
  height: 100%;
  background-color: transparent !important;
  color: #19c7f3 !important;
  box-shadow: none;
  border: #273c5e solid 2px;
}

.is-boxinactive {
}

.is-boxactive {
  background-color: #a4d400 !important;
  border: #a4d400 solid 2px;
  color: white !important;
}

.selectbox {
  background-color: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px;
  color: white !important;
}

.select:not([multiple]) {
  color: white;
}

.select:not(.is-multiple)::after {
  border: 1px solid white !important;
  border-right: 0 !important;
  border-top: 0 !important;
}

.selectbox:active {
  border-bottom-color: #a4d400 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: white !important;
}

.selectbox:focus {
  border-bottom-color: #a4d400 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: white !important;
}

.botaovoltar {
  background-color: transparent !important;
  border: 1px solid white !important;
}

.botaovoltar:hover {
  background-color: #a4d400;
  border: 1px solid white !important;
}

.is-invisible {
  display: none;
}

.badge::after {
  font-size: 1.25rem !important;
  min-height: 1.25rem !important;
  min-width: 1rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.1rem !important;
  background: #fd2e2e !important;
  box-shadow: none !important;
  top: -2rem !important;
}

.is-vertical-center {
  display: flex !important;
  align-items: center !important;
}

.small {
  max-width: 300px;
  margin: 300px auto;
}

.linksair {
  cursor: pointer;
}

.canvas-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.canvas {
  height: 400px;
  width: 400px;
  /* border: 1px solid purple; */
  margin: 0cm;
  padding: 0cm;
  margin-right: 0.5cm;
}

@media screen and (max-width: 910px) {
  .canvas {
    height: 300px;
    width: 300px;
    margin-bottom: 25px;
  }
  .canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
</style>