<template>
  <div>
    <div class="hero is-fullheight has-bg-img">
      <div class="hero-head">
        <div class="container">
          <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="#">
                <img src="../assets/logo.png" alt="Enguia">
              </a>
              <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div id="navbarExampleTransparentExample" class="navbar-menu">
              <div class="navbar-start"></div>
              <div class="navbar-end">
                <a class="navbar-item" href="#" v-scroll-to="'#oenguia'">O Enguia</a>
                <a class="navbar-item" href="#" v-scroll-to="'#servicos'">Serviços</a>
                <a class="navbar-item" href="#" v-scroll-to="'#contato'">Contato</a>
                <div class="navbar-item">
                  <button
                    v-if="!user"
                    @click="changeRoute('0')"
                    class="button actiondarkmenu has-text-weight-normal"
                  >Login</button>
                </div>
                <div class="navbar-item">
                  <button
                    v-if="!user"
                    @click="changeRoute('1')"
                    class="button actiondarkmenu has-text-weight-normal"
                  >Cadastre-se</button>
                </div>
                <div class="navbar-item">
                  <button
                    v-if="user"
                    class="button actiondarkmenu has-text-weight-normal"
                  >Seja Bem Vindo, {{user.nome}}</button>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="hero-body">
        <div class="container">
          <h1
            class="title has-text-white is-uppercase is-size-1 ligthtext"
          >Consultoria Eletrônica em Eficiência Energética</h1>
          <button
            @click="register()"
            class="button actiondarkmenu is-size-4 is-uppercase has-text-weight-normal"
          >Vamos começar</button>
        </div>
      </div>
    </div>

    <!-- 
      *
      *
      *  O ENGUIA
      *
      * 
    -->
    <div class="conteudo bg-white" id="oenguia">
      <div class="container">
        <h4 class="subtitle is-size-4 is-uppercase">O Enguia</h4>
        <h1 class="title is-size-3">
          Plano Personalizado de Redução de Consumo (PPRC)
          <i>
            en
            <span style="color:#8ed600;">guia</span>
          </i>
        </h1>
        <div class="columns">
          <div class="column">
            <div class="content">
              <ul class="caracteristicas">
                <li>Entenda sua conta de energia</li>
                <li>Atinja uma economia de até 35%</li>
                <li>Saiba como priorizar seus investimentos em eficiência energética</li>
              </ul>
              <span
                class="subtitle is-size-4 has-text-weight-bold"
                @click="abrirVideo()"
                style="border-bottom: 2px solid #8ed600; cursor: pointer;"
              >Assista ao vídeo e descubra como!</span>
            </div>
          </div>
          <div class="column">
            <img
              @click="abrirVideo()"
              src="../assets/o-enguia-notebook.png"
              style="cursor: pointer;"
            >
          </div>
        </div>
      </div>
    </div>

    <!-- 
      *
      *
      *  SERVIÇOS
      *
      * 
    -->
    <div class="background-escuro" id="servicos">
      <div class="container conteudo">
        <h4 class="subtitle has-text-white is-size-4 is-uppercase">Serviços</h4>
        <h1 class="title has-text-white is-size-3">
          Os Benefícios do programa
          <br>
          <i>
            en
            <span style="color:#8ed600;">guia</span>
          </i> de gestão energética
        </h1>
        <div class="columns">
          <div class="column is-4">
            <div class="box">
              <div class="imagebox">
                <img src="../assets/servicos_1.png" height="80px">
              </div>
              <h4 class="subtitle has-text-white is-size-4 has-text-weight-bold">Para você</h4>
              <div class="textbox">
                <h5 class="has-text-white is-size-5">
                  Entenda sua conta de energia. Saiba como
                  priorizar investimentos em eficiência energética
                  e economize até 35% na conta de energia.
                </h5>
              </div>
            </div>
            <div class="box">
              <div class="imagebox">
                <img src="../assets/servicos_3.png">
              </div>
              <h4
                class="subtitle has-text-white is-size-4 has-text-weight-bold"
              >Pequenas e Médias Empresas</h4>
              <div class="textbox">
                <h5 class="has-text-white is-size-5">
                  Verifique as melhores soluções e
                  equipamentos para seu negócio. Obtenha
                  grandes economias e aumente seus lucros.
                </h5>
              </div>
            </div>
          </div>
          <div class="column is-4 is-offset-one-third">
            <div class="box">
              <div class="imagebox">
                <img src="../assets/servicos_6.png" height="80px">
              </div>
              <h4 class="subtitle has-text-white is-size-4 has-text-weight-bold">Empresas de energia</h4>
              <div class="textbox">
                <h5 class="has-text-white is-size-5">
                  Aumente os níveis de satisfação de seus
                  clientes. Promova programas de eficiência
                  energética que dão resultados.
                </h5>
              </div>
            </div>
            <div class="box">
              <div class="imagebox">
                <img src="../assets/servicos_2.png" height="80px">
              </div>
              <h4 class="subtitle has-text-white is-size-4 has-text-weight-bold">Para TODOS</h4>
              <div class="textbox">
                <h5 class="has-text-white is-size-5">
                  Redução das emissões e impactos ambientais
                  <br>Crescimento econômico
                  <br>Conforto e bem estar
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 
      *
      *
      * CONTATO
      *
      * 
    -->
    <div class="conteudo bg-white" id="contato">
      <div class="container">
        <h2 class="title is-size-2">
          Consiga mais resultados com o
          <i>
            en
            <span style="color:#8ed600;">guia</span>
          </i>
        </h2>
        <button @click="changeRoute('1')" class="button actionlight is-size-4 is-uppercase">Faça um teste</button>
      </div>
    </div>

    <div class="conteudo bg-white">
      <div class="container">
        <h2 class="title is-size-2">Nossas conquistas</h2>
        <nav class="level">
          <div class="level-item has-text-centered">
            <div class="imageconquista">
              <img style="width: 235px !important" src="../assets/shell.png">
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div class="imageconquista">
              <img src="../assets/enelenergystart.png">
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div class="imageconquista">
              <img src="../assets/smartcities.png">
            </div>
          </div>
        </nav>
        <nav class="level">
          <div class="level-item has-text-centered">
            <div class="imageconquista">
              <img src="../assets/startuprio.png">
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div class="imageconquista">
              <img src="../assets/smartcitybusiness.png">
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div class="imageconquista">
              <img src="../assets/engieweek.png">
            </div>
          </div>
        </nav>
        <nav class="level">
          <div class="level-item has-text-centered">
            <div class="imageconquista3">
              <img src="../assets/artemisia.png">
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div class="imageconquista3">
              <img src="../assets/nttdata.png">
            </div>
          </div>
        </nav>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column">
            <img src="../assets/logo.png" alt="Enguia" width="187" height="96">
          </div>
          <div class="column">
            <h4 class="subtitle is-size-4 is-uppercase">Contato</h4>
            <h5 class="subtitle is-size-5">contato@enguia.eco.br</h5>
          </div>
          <div class="column">
            <h4 class="subtitle is-size-4 is-uppercase">SIGA</h4>
            <h5 class="subtitle is-size-5">
              <a class="rede-social" href="https://www.facebook.com/enguiaenergia/" target="_blank">
                <img src="../assets/facebook-icon.png" alt width="25" height="25">
              </a>
              <a
                class="rede-social"
                href="https://www.linkedin.com/company/enguia/"
                target="_blank"
              >
                <img src="../assets/linkedin-icon.png" alt width="25" height="25">
              </a>
              <a
                class="rede-social"
                href="https://www.instagram.com/enguiaenergia/"
                target="_blank"
              >
                <img src="../assets/instagram-icon.png" alt width="25" height="25">
              </a>
              <a class="rede-social" href="https://www.youtube.com/user/roxcorrea" target="_blank">
                <img src="../assets/youtube-logotype.png" alt width="25" height="25">
              </a>
              <a class="rede-social" href="https://twitter.com/enguiaenergia" target="_blank">
                <img src="../assets/twitter-logo.png" alt width="25" height="25">
              </a>
            </h5>
          </div>
        </div>
      </div>
    </footer>

    <!-- 
      *
      *
      * CONTATO
      *
      * 
    -->
    <div class="modal" v-bind:class="{ 'is-active': isVideo }">
      <div class="modal-background"></div>
      <div class="modal-content">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/fpPZmUqyfrM"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="fecharVideo()"></button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class Home extends Vue {
  data() {
    return {
      isVideo: false,
    };
  }

  get user(){
    return this.$store.getters["users/user"];
  }
  changeRoute(registerConditional){
    this.$router.push(`signin/${registerConditional}`)
  }
  created() {
    let tokensessao = localStorage.getItem("tokensessao");
    if (tokensessao) {
      let nomeusuario = localStorage.getItem("nomeusuario")!.split(" ");
      this.$data.nome = nomeusuario[0];
      this.$data.logado = true;
    }
    document.addEventListener("DOMContentLoaded", function() {
      // Get all "navbar-burger" elements
      var $navbarBurgers = Array.prototype.slice.call(
        document.querySelectorAll(".navbar-burger"),
        0
      );

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {
        // Add a click event on each of them
        $navbarBurgers.forEach(function($el) {
          $el.addEventListener("click", function() {
            // Get the target from the "data-target" attribute
            var target = $el.dataset.target;
            var $target = document.getElementById(target);

            // Toggle the class on both the "navbar-burger" and the "navbar-menu"
            $el.classList.toggle("is-active");
            $target!.classList.toggle("is-active");
          });
        });
      }
    });
  }
  abrirVideo() {
    this.$data.isVideo = true;
  }
  fecharVideo() {
    this.$data.isVideo = false;
  }
}
</script>
<style lang="scss" scoped>
$navbar-height: 5rem;
$navbar-item-img-max-height: 6rem;
$navbar-item-color: white;

.has-bg-img {
  background: url("../assets/background-home.jpg") center center;
  background-size: cover;
}
.caracteristicas {
  margin-top: 5vh !important;
  list-style-type: disc;
  text-align: left;
}
.caracteristicas li {
  margin-bottom: 10px;
}
.box {
  background-color: transparent !important;
}
.background-escuro {
  background-color: #001c35;
}
.rede-social {
  margin-right: 5px;
}
.actiondarkmenu {
  border-radius: 0 !important;
  border-color: #7cfc00 !important;
  background-color: transparent !important;
  font-weight: 600 !important;
  //padding: 15px 25px !important;
  color: #fff !important;
  //vertical-align: center !important;
}
.actiondark {
  border-radius: 0 !important;
  border-color: #7cfc00 !important;
  background-color: transparent !important;
  font-weight: 200 !important;
  padding: 15px 25px !important;
  font-size: 25px !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.actionlight {
  border-radius: 0 !important;
  border-color: #7cfc00 !important;
  background-color: transparent !important;
  //padding: 15px 25px !important;
  font-size: 25px !important;
  color: #001c35 !important;
  font-weight: 600 !important;
}
.conteudo {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.imagebox {
  height: 10vh;
  min-height: 10vh !important;
  margin-bottom: 1.5rem;
}
.imagebox img {
  height: 80px !important;
}
.imageconquista img {
  max-height: 80px !important;
}
.imageconquista3 img {
  max-height: 120px !important;
}
.textbox {
  height: 25vh;
}
.navbar-burger {
  color: white;
}
a.navbar-item {
  color: #fff;
}
a.navbar-item:hover {
  color: #7cfc00;
}
.navbar-item img {
  max-height: 6rem;
}
.is-size-1 {
    font-size: 3rem!important;
}
.ligthtext {
  font-weight: 100 !important;
}
.bg-white {
  background-color: #fff;
}
.title {
    word-break: break-word;
  line-height: 1.125;
}
</style>

