<template>
  <div class="hero has-bg-img is-fullheight">
    
      <div class="hero-head is-medium toposignup">
        <div class="container">
          <div class="topo">
          <div class="columns">
            
            <div class="column is-8 is-offset-2 ">  
                <img src="../assets/logo.png" alt="Enguia" width="161" height="85">
            </div>
            <div class="column is-1 is-hidden-mobile">
              <div style="vertical-align:baseline;" >
                <img src="../assets/icon-sair-35.png" alt="Enguia" width="32" height="32">
              <h5 @click="logout()" class="is-size-5 has-text-weight-bold has-text-white">Sair</h5>
              </div>
            </div>
          </div> 
          </div>
        </div>
      </div>
    
  <div class="hero-body">
    <div class="container">
      
    <div class="columns">
      <div class="column is-8 is-offset-2 ">  
        <div class="is-hidden-desktop hollow has-text-centered">
          <div class="steponly is-inline-flex">
            <img src="../assets/icon-perfil-white-25.png" alt="Enguia" width="25" height="25">
          </div>
          <h4 class="is-size-4 subtitle has-text-weight-bold">
            Dados Pessoais
          </h4>
          <h5 class="is-size-5 subtitle has-text-white">Olá! Tudo bem? Vamos fazer o Usuario de seu imóvel?
            É super rápido. Se precisar de qualquer ajuda, entre em contato conosco!
          </h5>
          <br><br>
        </div>
        <h4 class="is-size-4 is-hidden-mobile is-hidden-tablet-only subtitle has-text-white">Olá! Tudo bem? Vamos fazer o Usuario de seu imóvel?
          É super rápido. Se precisar de qualquer ajuda, entre em contato conosco!
        </h4>
        <br><br>

        <ul class="steps is-small is-hidden-mobile">
          <li class="step-item is-active">
            <span class="steps-marker is-hollow">
              <img src="../assets/icon-perfil-white-25.png" alt="Enguia" width="25" height="25">
            </span>
            <div class="step-content">
              <p class="is-size-5 has-text-white">Meus Dados</p>
            </div>
          </li>
          <li class="step-item">
            <span class="steps-marker is-hollow">
              <img src="../assets/icon-imovel-white-25.png" alt="Enguia" width="25" height="25">
            </span>
            <div class="step-content">
              <p class="is-size-5 has-text-white">Imóvel</p>
            </div>
          </li>
          <li class="step-item">
            <span class="steps-marker is-hollow">
              <img src="../assets/icon-equipamentos-25.png" alt="Enguia" width="25" height="25">
            </span>
            <div class="step-content">
              <p class="is-size-5 has-text-white">Equipamentos</p>
            </div>
          </li>
        </ul>
        <div class="columns">
          <div class="column is-6">
            <div class="field has-text-left">
              <label class="label has-text-white">Nome</label>
              <p class="control">
                <input class="input is-static inputsignup" type="text" placeholder="Digite seu nome completo" v-model="newUser.nome" required/>
              </p>
            </div>
          </div>
          <div class="column">
             <div class="field has-text-left">
              <label class="label has-text-white">CPF</label>
              <p class="control is-expanded">
                <masked-input type="text" :mask="[/\d/, /\d/, /\d/, '.', /\d/, /\d/, /\d/, '.', /\d/, /\d/, /\d/, '-', /\d/, /\d/]" name="cpf"  placeholder="Coloque apenas números" class="input is-static inputsignup" v-model="newUser.cpf" required/></masked-input>
              </p>
             </div>
          </div>
          <div class="column is-4">
            <div class="field has-text-left">
              <label class="label has-text-white">Data de Nascimento</label>
              <p class="control">
                <input class="input is-static inputsignup" type="date" v-model="newUser.nascimento" required/>
              </p>
            </div>
             <div class="field has-text-left">
              <label class="label has-text-white">Sexo</label>
              <p class="control is-expanded has-text-white">
                <label class="radio">
                  <input type="radio" name="sexo" value="Masculino" v-model="newUser.sexo" required/> 
                  Masculino
                </label>
                <label class="radio">
                  <input type="radio" name="sexo" value="Feminino" v-model="newUser.sexo" required/>
                  Feminino
                </label>
                <label class="radio">
                  <input type="radio" name="sexo" value="Outro" v-model="newUser.sexo" required/>
                  Outro
                </label>
              </p>
             </div>
          </div>
        </div>
        <div class="field">
          <div class="control has-text-centered">
            <label class="checkbox">
              <input type="checkbox" v-model="termos">
              Concordo com os <a @click="switchTermos()">termos de serviço</a> do Enguia
            </label>
          </div>
        </div>
        <button @click="proximo()" class="button is-rounded is-primary has-text-weight-bold	 is-medium botaocadastrar">
            <span>Próximo Passo</span>
            <span class="icon">
            <i class="fas fa-arrow-right"></i>
          </span>
        </button>  
      </div>
  </div>
</div>
<div class="modal" :class="{ 'is-active': isTermosAberto }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Termos de uso</p>
      <button class="delete" aria-label="close" @click="switchTermos()"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <p>
          <h4 class="title">POLÍTICA DE PRIVACIDADE E TERMOS DE USO</h4>
          <p class="has-text-left">
            O EnGuia é um portal de eficiência energética que, a partir das informações fornecidas pelos usuários, analisa referidos dados para então oferecer aos seus usuários e visitantes informações sobre o consumo de energia e possíveis estratégias de redução deste consumo.<br/>
            No intuito de estabelecer uma relação de confiança e transparência com nossos usuários e visitantes, o presente documento estabelece nossa Política de Privacidade e Termos de Uso, trazendo as condições para utilização do site www.enguia.eco.br, bem como aplicativos e/ou programas do EnGuia.
          <ol>
            <li><strong>DEFINIÇÕES:</strong></li>
            <ul style="list-style-type:none;">
              <li>1.1. Para fins desta Política de Privacidade e Termos de Uso, consideram-se:</li>
              <ol>
                <li type="a">Cookie: arquivos que permitem armazenar e reconhecer dados de navegação na internet;</li>
                <li type="a">Eficiência energética: utilização racional, eficiente, de energia;</li>
                <li type="a">Endereço de IP/Endereço de Protocolo de Internet: o código atribuído a um dispositivo que se conecte a internet para permitir sua identificação, definido segundo parâmetros internacionais;</li>
                <li type="a">Links: palavras, textos, imagens ou websites de terceiros;</li>
                <li type="a">Plano personalizado de redução de consumo de energia: plano sugerido ao usuário para redução de consumo de energia após informações cadastradas pelo usuário no site e/ou aplicativo;</li>
                <li type="a">Usuário/Usuários: as pessoas físicas ou jurídicas que utilizam o site e/ou aplicativo do EnGuia.</li>
              </ol>
            </ul>
            <li><strong>	ACEITE DOS TERMOS DE USO E CONDIÇÕES DA POLÍTICA DE PRIVACIDADE:</strong></li>
            <ul style="list-style-type:none;">
              <li> 2.1. Ao acessar o site e/ou aplicativo do EnGuia, o usuário concorda e aceita as disposições do presente termo.</li>
            </ul>
            <li><strong>CADASTRO:</strong></li>
            <ul style="list-style-type:none;">
              <li>3.1. O cadastro do usuário é feito através de login e senha informados pelo usuário, que pode ser feito também por login social (através do perfil em Facebook ou Google).</li>
              <li>3.2. Tanto login quanto senha cadastrados são de inteira responsabilidade dos usuários, bem como senha utilizada em rede social que originou o cadastro, isentando desde já o EnGuia de qualquer responsabilidade caso o usuário divulgue/compartilhe com terceiros referidas informações.</li>
            </ul>
            <li><strong>INFORMAÇÕES E PRIVACIDADE:</strong></li>
            <ul style="list-style-type:none;">
              <li>4.1. Ao utilizar nossos serviços, o usuário disponibiliza informações essenciais para a correta e completa análise do consumo de energia. Assim, através de nossos formulários, são solicitadas informações pessoais (nome, CPF, endereço, endereço eletrônico) e informações que afetem direta e indiretamente o consumo de energia e/ou a obtenção de históricos de consumo, de forma automática, junto às empresas concessionárias de energia, públicas ou privadas, através do código de cliente nessas concessionárias de energia.</li>
              <li>4.2. As informações transmitidas pelos usuários são importantes para que a análise dos dados seja a mais detalhada possível e para que eventuais planos personalizados de redução de consumo de energia possam ser sugeridos. Desta forma, o usuário se responsabiliza pela precisão e veracidade dos dados informados e qualquer falta de veracidade ou inconsistência implicará na impossibilidade de correta análise dos dados e consequente correta utilização das informações fornecidas a partir desses dados, não cabendo quaisquer reclamações por planos personalizados sugeridos que não obtiverem o resultado esperado.</li>
              <li>4.3. As informações podem ser preenchidas de forma gradual, sendo que a cada nova informação há o aprimoramento dos cálculos e da análise das informações.</li>
              <li>4.4. Mesmo após a sugestão do plano personalizado de redução de consumo de energia, é importante que o usuário atualize suas informações no site e/ou aplicativo à medida que for implementando referidas sugestões.</li>
              <li>4.5. O EnGuia, através de e-mail ou no próprio site e/ou aplicativo, poderá solicitar ao usuário a atualização dos dados sobre o consumo de energia.</li>
              <li>4.6. No intuito de fornecer ao usuário um conteúdo específico ou análise mais abrangente de consumo energia, as informações coletadas através do site e/ou aplicativo são armazenadas e utilizadas pelo EnGuia por tempo indeterminado para que sejam analisadas a qualquer tempo, sendo certo que não disponibilizamos a terceiros dados pessoais de nossos usuários, mas tão somente as análises realizadas referentes a dados mercadológicos de uso e hábitos de determinada região e/ou perfil.</li>
              <li>4.7. Diante disso, o usuário está ciente e concorda com a coleta, armazenamento, processamento e uso das informações fornecidas pelo usuário, nos termos do presente documento.</li>
              <li>4.8. Não obstante, havendo qualquer solicitação por parte de Autoridade Pública, devidamente fundamentada, o EnGuia poderá encaminhar os dados dos usuários envolvidos, independente de autorização do usuário e sem prévia notificação.</li>
              <li>4.9. Informações de navegação no site / cookies: quando o usuário visita nosso site, informações de navegação são registradas, podendo ser coletado, de forma anônima, informações como endereço de IP, localização geográfica, fonte de referência, tipo de navegador, duração da visita e páginas visitadas. O usuário pode excluir os cookies instalados no seu computador a qualquer instante mediante configuração do seu programa de navegação na internet.</li>
              <li>4.10. O EnGuia, através da sugestão de planos personalizados de redução de consumo de energia, poderá ainda identificar usuários da mesma região que possuem condições de compartilhar energia renovável e sustentável, proveniente de micro geradores de energia em conformidade com a Resolução ANEEL 687/2015. Nesses casos, de compra e venda de energia, o EnGuia cobrará uma taxa pela utilização da plataforma e gestão de recebimentos.</li>
              <li>4.11. O EnGuia fornecerá dicas e ideias para aumentar a eficiência energética através do blog e do próprio site e/ou aplicativo.</li>
              <li>4.12. O EnGuia também oferece aos seus usuários e visitantes, por e-mail, newsletters com as principais notícias e novidades relacionadas ao portal, e ainda promoções e informações de parceiros relacionadas à eficiência energética e redução de consumo.</li>
            </ul>
            <li><strong>LINKS DE TERCEIROS:</strong></li>
            <ul style="list-style-type:none;">
              <li>5.1. O site e/ou aplicativo podem conter links para sites de terceiros, sendo certo que o usuário está ciente e concorda que eventuais sites possuem políticas de privacidade e termos de uso próprios que devem ser verificados pelos usuários, não constituindo endosso ou qualquer vínculo a existência de referidos links no site e/ou aplicativo do EnGuia.
              </li>
            </ul>
            <li><strong>EXCLUSÃO DO CADASTRO:</strong></li>
            <ul style="list-style-type:none;">
              <li>6.1. O usuário poderá a qualquer tempo excluir seu cadastro no site e/ou aplicativo, ficando ressalvada a guarda das informações e dados conforme cláusulas 4.6 e 4.7.
              </li>
            </ul>
            <li><strong>ATUALIZAÇÕES DESTA POLÍTICA DE PRIVACIDADE E TERMOS DE USO:</strong></li>
            <ul style="list-style-type:none;">
              <li>7.1. Essa política de privacidade e termos de uso podem passar por atualizações. Por isso recomendamos visitar periodicamente essa página para que tenha conhecimento dessas atualizações e alterações.
              </li>
            </ul>
            <li><strong>PROPRIEDADE INTELECTUAL:</strong></li>
            <ul style="list-style-type:none;">
              <li>8.1. Pertencem ao EnGuia: todo e qualquer software, aplicativo ou funcionalidade; a identidade visual; conteúdos criados pelo EnGuia; nome empresarial, marca, domínio ou qualquer sinal distintivo de sua titularidade inseridos no site e/ou aplicativo, sendo totalmente proibida a utilização, sob qualquer meio ou forma, pelos usuários.
              </li>
            </ul>
            <li><strong>CONTATO:</strong></li>
            <ul style="list-style-type:none;">
              <li>9.1. A qualquer momento, em caso de dúvidas ou questões relacionadas a esta Política de Privacidade e Termos de Uso, o usuário poderá fazer contato através do e-mail: contato@enguia.eco.br.
              </li>
            </ul>
          </ol>
        </p>
      </div>
    </section>
    <footer class="modal-card-foot ">
      <button class="button botaocadastrar " @click="okTermos()">OK</button>
      <button class="button" @click="switchTermos()">Voltar</button>
    </footer>
  </div>
</div>
</div>
  <div class="hero-footer">
    <div class="container borderfooter">
      <div class="rodape">
        <h6 class="is-size-6 has-text-white">
          Copyright 2019 - Enguia
        </h6>
      </div>
    </div>
  </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import StepsWizard from 'bulma-steps/src/js/index.js'

@Component({
  components: {}
})
export default class InformacoesPessoais extends Vue {
  data(){
    return{
      isTermosAberto: false,
      termos: false,
      newUser: {}
    }
  }
  mounted() {
    new StepsWizard( document.getElementsByClassName('steps') );
  }
  get Usuario(){
    return this.$store.getters["users/preuser"];
  }
  
  cadastraUsuario(){
    console.log("oi")
    // const { dispatch } = this.$store; 
    // dispatch("users/logout", this.$data.Usuario); 
  }

  logout(){
    const { dispatch } = this.$store;
    dispatch("users/logout", this.$data.Usuario);
  }

  switchTermos(){
    this.$data.isTermosAberto = !this.$data.isTermosAberto;
  }

  okTermos(){
    this.$data.termos = true;
    this.switchTermos()
  }
}
</script>

<style lang="scss">
@import "bulma/bulma.sass";

.has-bg-img {
  background-color: #0d1d3e;
  background-image: url("../assets/bg-page-desktop.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40% 90%;
}
.toposignup {
  background-color: #273c5e;
}
.full-size {
  min-height: 100%;
}
.borderfooter {
  border-top: 1px solid #273c5e;
}
.topo {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.rodape {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.inputsignup {
  background-color: transparent !important;
  border-bottom: #ededed 1px solid !important;
  color: #fff !important;
}
.inputsignup:active {
  /* border-color: none !important; */
  border-bottom: #a4d400 1px solid !important;
  color: #fff;
}
.inputsignup:hover {
  /* border-color: none !important; */
  border-bottom: #a4d400 1px solid !important;
  color: white !important;
}
.inputsignup:focus {
  /* border-color: none !important; */
  border-bottom: #a4d400 1px solid !important;
  color: #fff;
}
.radio:hover {
  color: #fff !important;
}
.checkbox:hover {
  color: #fff !important;
}
::-webkit-input-placeholder {
  /* Chrome */
  color: #fff !important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #fff !important;
  opacity: 1;
}
.botaocadastrar {
  background-color: #a4d400 !important;
  border: 1px solid #a4d400 !important;
}
.botaocadastrar:hover {
  background-color: #a4d400;
  border: 1px solid #a4d400 !important;
}

.nomesignup {
  width: 30% !important;
}
.cpfsignup {
  width: 15% !important;
}
.container {
  /*padding-left:15%;
  padding-right:15%;*/
}
.hero-body {
  align-items: flex-start !important;
}
.subtitle {
  margin-top: 1rem;
  margin-bottom: 2rem !important;
}
/* steps */
.steps .steps-marker{
  margin-left: 6em;
  height: 4em;
  width: 4em;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    font-weight: 700;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.steps-marker.is-hollow {
  border: 0.1em solid #a4d400 !important;
}
.steps-marker.is-hollowinactive {
  border: 0.1em solid #273c5e !important;
}
.steps-marker:not(.is-hollow) {
  background-color: #273c5e !important;
}

.step-title {
  padding-top: 1.5rem;
  padding-left: 1.25rem;
  color: #a4d400 !important;
}
.step-content {
  color: #fff;
  margin-top: 6vh;
  margin-left: 2.5vh;
}
.steps-item:after {
  height: 0.1em !important;
  top: calc(1.9rem - (0.2em)) !important;
  left: 1.76rem !important;
  background-color: #273c5e !important;

  left: 70% !important;
  right: -42% !important;
}
.steps-item.is-hollow {
  background-color: #273c5e !important;
}
.steps-item.is-active:after {
  background-color: #273c5e !important;
}
.checkbox {
  color: white;
}
.checkbox a {
  color: #a4d400;
}
.steponly {
  height: 3.5rem !important;
  width: 3.5rem !important;
  border: 0.1em solid #a4d400 !important;
  border-radius: 50%;
  align-items: center !important;
  display: flex !important;
  font-weight: 700;
  -webkit-box-pack: center !important;
  justify-content: center !important;
  text-align: center !important;
}
.hollow {
  text-align: center !important;
}
.subtitle {
  color: #a4d400 !important;
}
.modal-card-head,
.modal-card-foot {
  background-color: #273c5e !important;
}
.modal-card-title {
  color: white !important;
}

</style>
