<template>
  <div class="signin hero has-bg-img is-fullheight">
    <div class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-1 is-one-third has-text-left">
            <div>
              <img
                src="../assets/logo.png"
                alt="Enguia"
                width="187"
                height="96"
                class="has-text-left"
              >
            </div>

            <h5
              class="subtitle is-size-5 has-text-left has-text-white is-hidden-touch"
              v-if="registerTab"
            >Preencha as informações abaixo para fazer seu cadastro.</h5>
            <h5
              class="subtitle is-size-5 has-text-left has-text-white is-hidden-touch"
              v-else
            >Preencha as informações abaixo para entrar.</h5>

            <div class="field">
              <label class="label has-text-left has-text-white">Email</label>
              <p class="control has-icons-left">
                <input
                  class="input is-static inputlogin"
                  required="true"
                  type="email"
                  placeholder="Coloque o seu e-mail"
                  v-model="Usuario.email"
                >
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label has-text-left has-text-white">Senha</label>
              <div class="control has-icons-left">
                <input
                  class="input is-static inputlogin"
                  type="password"
                  placeholder="Insira sua senha aqui"
                  v-model="Usuario.senha"
                >
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field" v-if="registerTab">
              <label class="label has-text-left has-text-white">Confirmar Senha</label>
              <p class="control has-icons-left">
                <input
                  class="input is-static inputlogin"
                  type="password"
                  placeholder="Repita sua senha aqui"
                  v-model="Usuario.confirmacaoSenha"
                >
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>

            <!-- DIV CADASTRO -->
            <div v-if="registerTab">
              <div class="control">
                <button
                  @click="doRegister()"
                  type="submit"
                  class="button is-rounded is-primary is-fullwidth botaocadastrar"
                >Cadastrar</button>
              </div>
              <br>
              <h2 class="linha">
                <span>Ou</span>
              </h2>
              <br>
              <div class="control">
                <a id="googleSignin" class="button is-primary is-rounded is-fullwidth botaogoogle">
                  <span class="icon">
                    <i class="fab fa-google"></i>
                  </span>
                  <span>Cadastre-se pelo Google</span>
                </a>
              </div>
              <br>
              <div class="control">
                <a
                  @click="facebookRegister()"
                  class="button is-primary is-rounded is-fullwidth botaofacebook"
                >
                  <span class="icon">
                    <i class="fab fa-facebook-f"></i>
                  </span>
                  <span>Cadastre-se pelo Facebook</span>
                </a>
              </div>
            </div>
            <!-- DIV LOGIN -->
            <div v-else>
              <div class="control">
                <button
                  @click="doLogin()"
                  type="submit"
                  class="button is-rounded is-primary is-fullwidth botaocadastrar"
                >Entrar</button>
              </div>
              <br>
              <h2 class="linha">
                <span>Ou</span>
              </h2>
              <br>
              <div class="control">
                <a id="googleSignin" class="button is-primary is-rounded is-fullwidth botaogoogle">
                  <span class="icon">
                    <i class="fab fa-google"></i>
                  </span>
                  <span>Entrar pelo Google</span>
                </a>
              </div>
              <br>
              <div class="control">
                <a
                  @click="facebookRegister()"
                  class="button is-primary is-rounded is-fullwidth botaofacebook"
                >
                  <span class="icon">
                    <i class="fab fa-facebook-f"></i>
                  </span>
                  <span>Entrar pelo Facebook</span>
                </a>
              </div>
            </div>
            <!-- DIV CHANGE -->
            <div>
              <br>
              <h6
                @click="changeType()"
                class="subtitle is-size-6 cordestaque has-text-centered linklogin"
              >
                <span v-if="registerTab">Fazer login</span>
                <span v-else>Cadastrar-se</span>
                <i class="fas fa-arrow-right"></i>
              </h6>
            </div>
          </div>

          <div class="column is-offset-2 is-4 is-hidden-mobile">
            <div class="textologin has-text-centered">
              <h2 class="is-size-2 cordestaque">Bem vindo ao EnGuia!</h2>
              <h1 class="is-size-1 has-text-weight-bold has-text-white">Vamos começar?</h1>
              <h5 class="is-size-5 has-text-white">Agora você pode ter gestão energética.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { facebookAuth } from "@/helpers";

@Component({
  components: {}
})
export default class Signin extends Vue {
  data() {
    return {
      registerTab: false,
      Usuario: {
        email: "",
        senha: "",
        confirmacaoSenha: ""
      }
    };
  }
  created() {
    if (this.$route.params.register == "1") {
      this.$data.registerTab = true;
    }
  }
  changeType() {
    this.$data.registerTab = !this.$data.registerTab;
  }
  // changeRoute(registerConditional) {
  //   this.$router.push({
  //     name: "signin",
  //     params: { register: registerConditional }
  //   });
  // }
  doLogin() {
    const { dispatch } = this.$store;
    if (this.$data.Usuario.email && this.$data.Usuario.senha) {
      dispatch("users/login", this.$data.Usuario);
    }
  }
  doRegister() {
    const { dispatch } = this.$store;
    if (
      this.$data.Usuario.email &&
      this.$data.Usuario.senha &&
      this.$data.Usuario.confirmacaoSenha
    ) {
      dispatch("users/checkAccount", this.$data.Usuario);
    }
  }
  notifica(message: any) {
    alert(message);
  }
}
</script>


<style scoped>
.signin {
  width: 100%;
  height: 100%;
  background-color: #0d1d3e;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 40% 100%;
}
.linha {
  position: relative;
  text-align: center;
  color: #fff;
}

.textologin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.textologinmobile {
  margin-bottom: 1rem;
}
.cordestaque {
  color: #a4d400;
}
.botaocadastrar {
  background-color: #a4d400;
}
.botaocadastrar:hover {
  background-color: #a4d400;
}
.botaogoogle {
  background-color: #dd5347;
}
.botaogoogle:hover {
  background-color: #dd5347;
}
.botaofacebook {
  background-color: #4267b2;
}
.botaofacebook:hover {
  background-color: #4267b2;
}
.has-bg-img {
  background: url("../assets/bg-full-login.png");
  background-size: cover;
}
.inputlogin {
  background-color: transparent !important;
  border-bottom: #ededed 1px solid !important;
  color: #fff;
}
.inputlogin:active {
  /* border-color: none !important; */
  border-bottom: #a4d400 1px solid !important;
}
.inputlogin:hover {
  /* border-color: none !important; */
  border-bottom: #a4d400 1px solid !important;
}
.inputlogin:focus {
  /* border-color: none !important; */
  border-bottom: #a4d400 1px solid !important;
}
::-webkit-input-placeholder {
  /* Chrome */
  color: #fff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}
.linklogin {
  cursor: pointer;
}
</style>
