<template>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="../assets/logo.png" alt="Enguia" width="161" height="85">
      </div>
      <a
        role="button"
        class="navbar-burger burger"
        v-bind:class="{'is-active': open}"
        @click="openNavBurguer()"
        data-target="navMenu"
        aria-label="menu"
        aria-expanded="false"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" v-bind:class="{'is-active': open}" id="navMenu">
      <div class="navbar-start">
        <!-- navbar items -->
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div @click="perfil()" class="div-button" style="vertical-align:baseline;">
            <img src="../assets/icon-perfil-green-35.svg" alt="Enguia" width="30" height="30">
            <h6 class="is-size-6 has-text-weight-bold has-text-white">Perfil</h6>
          </div>
        </div>
        <div class="navbar-item">
          <div @click="imovel()" class="div-button" style="vertical-align:baseline;">
            <img src="../assets/icon-imovel-green-35.svg" alt="Enguia" width="30" height="30">
            <h6 class="is-size-6 has-text-weight-bold has-text-white">Imóvel</h6>
          </div>
        </div>
        <div class="navbar-item">
          <div class="div-button" @click="equipamentos()" style="vertical-align:baseline;">
            <img src="../assets/icon-equipamentos-green.png" alt="Enguia" width="30" height="30">
            <h6 class="is-size-6 has-text-weight-bold has-text-white">Equipamentos</h6>
          </div>
        </div>
        <div class="navbar-item">
          <div @click="diagnostico()" class="div-button" style="vertical-align:center;">
            <img src="../assets/icon-diagnostico-green-35.svg" alt="Enguia" width="30" height="30">
            <h6 class="is-size-6 has-text-weight-bold has-text-white">Diagnósticos</h6>
          </div>
        </div>
        <div class="navbar-item">
          <div @click="planos()" class="div-button" style="vertical-align:baseline;">
            <img src="../assets/icon-meus-planos-green-35.svg" alt="Enguia" width="30" height="30">
            <h6 class="is-size-6 has-text-weight-bold has-text-white">Meus Planos</h6>
          </div>
        </div>
        <div class="navbar-item">
          <div @click="logout()" class="div-button" style="vertical-align:baseline;">
            <img
              src="../assets/icon-sair-35.svg"
              alt="Enguia"
              height="30px"
              width="30"
              style="height:30px !important"
            >
            <h6 class="is-size-6 has-text-weight-bold has-text-white">Sair</h6>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";
import router from "./../router";

export default class EnguiaNav extends Vue {
  data() {
    return {
      count: 0,
      open: false
    };
  }
  openNavBurguer() {
    this.open = !this.open;
    for (var prop in router) {
    }
  }
  perfil() {
    router.push({
      name: "AlterarPerfil"
    });
  }
  diagnostico() {
    router.push({
      name: "diagnostico"
    });
  }
  imovel() {
    router.push({
      name: "Imoveis"
    });
  }
  planos() {
    router.push({
      name: "MeusPlanos"
    });
  }
  equipamentos() {
    router.push({
      name: "equipamentos"
    });
  }
  logout() {
    this.$http.delete(this.$config("API_URL") + "/auth/logout").then(
      response => {
        localStorage.clear();
        router.push({
          name: "home"
        });
      },
      err => {
        console.log(`Error at: Component: EnguiaNav, Function: logout`);
        console.log(err);
        console.log(`------------------------------------------------`);
      }
    );
  }
}
</script>

<style>
.navbar-burger {
  color: white !important;
}

/* .div-button {
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: transparent !important;
  }
} */
</style>