<template>
  <div class="hero-footer">
    <div class="container borderfooter">
      <div class="rodape">
        <h6 class="is-size-6 has-text-white">Copyright 2019 - Enguia</h6>
      </div>
    </div>
  </div>
</template>

<script scoped lang="ts">
import { Component, Vue } from "vue-property-decorator";

export default class Footer extends Vue {}
</script>
