<template>
  <div id="app">
    <router-view/>
    <div style="opacity: 0;position: absolute; right: 0; bottom: 0; width: 0px;">{{alert}}</div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters({
      alert: "alert/alert"
    })
  },
  updated() {
    if (this.alert.message) {
      alert(this.alert.message);
    }
  }
};
</script>

<style lang="scss">
@import "bulma/bulma.sass";
@import "bulma-steps/src/sass/index.sass";
#app {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: url("assets/background-home.jpg");
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
